.reveal
  code
    font-family 'Source Code Pro', PingFangSc-Regualar, "Microsoft YaHei UI Light", monospace

  p
    text-align left

  blockquote
    width 100%

code:not([class])
  background-color rgba(255,255,255,.1)
  border 1px solid rgba(255,255,255,.3)
  border-radius 0.25rem
  padding 0 .5rem
  text-transform none

.fue
  position absolute
  right 0
  top 40%